<!-- <div class="account">
    Signed in as {{account.name}}
</div>

<mat-sidenav-container>

    <mat-sidenav mode="side" opened #sidenav>
        <button mat-button color="primary" *ngFor="let folder of mailFolders"> 
            <div class="container">
                <mat-icon class="grid-item">{{folder.icon}}</mat-icon>
                <span class="grid-item">{{folder.name}}</span>
            </div>
        </button>
    </mat-sidenav>

    <mat-sidenav-content class="main">
        <div>
            <button mat-icon-button (click)="sidenav.toggle()"><mat-icon class="icon">menu</mat-icon></button>
            <button mat-icon-button (click)=""><mat-icon class="icon">arrow_back</mat-icon></button>
            {{mail.title}}
        </div>

        <div>
            <div>
               {{mail.body}} 
            </div>
        </div>
    </mat-sidenav-content>

</mat-sidenav-container> -->
