$primary-color : #323B48
    
*
    margin: 0
    padding: 0
    box-sizing: border-box
    list-style: none
    text-decoration: none

.container
    height: 100vh
    display: flex
    flex-direction: column



mat-sidenav-container
    height: 100%
    
    mat-sidenav   
        background-color: #cfcdcd //#406882, #6998AB, #B1D0E0, DBE2EF, 49566941
        width: 200px
        display: flex
        align-items: center
        justify-content: center

        .compose
            margin-top: 20px
            margin-bottom: 20px
            width: 70%
            background-color: $primary-color
            // color: $primary-color
            color: white
            border: 2px solid $primary-color

        .folder-selected
            background-color: #323b482a
            border-radius: 0px
            color: $primary-color

        button
            width: 100%
            height: 3em
            .grid-container
                display: grid
                grid-template-columns: auto auto
                justify-content: start
                margin-left: 10px
                grid-column-gap: 20px
                align-items: center

    mat-sidenav-content
        display: flex
        .mails
            width: 100%
            background-color: white
            border-right: 2px solid $primary-color
            border-left: 2px solid $primary-color
        // .mail-details
        //     padding: 15px
        //     width: 60%
        //     background-color: white
            


.mail-item
    display: grid
    grid-template-columns: 50px 1.75fr 1fr 2fr 50px
    justify-content: start
    align-items: center
    // border-bottom: 1px solid white
    height: 50px
    // padding-left: 20px
    grid-column-gap: 5px
    // background-color: #cfcdcd

    .grid-item
        // border-right: 1px solid black

.mail-selected 
    background-color: #283593
    color: white
    
.mail-unread
    font-weight: bold
    
.mail-read
    font-weight: normal
    background-color: grey

.stop-overflow

    text-overflow: ellipsis
    white-space: nowrap
    overflow: hidden
    margin: 0px


.center-vertical
    display: flex
    align-items: center

.center-horizontal
    display: flex
    align-items: center
    flex-direction: column