
<div class="container">
    <mat-sidenav-container>
        <mat-sidenav mode="side" opened #sidenav>
            <div class="center-horizontal">

                <button mat-flat-button color="accent" class="compose" (click)="compose()">
                    <mat-icon>add</mat-icon>
                    Compose
                </button>

                <button mat-button color="primary"
                    *ngFor="let folder of mailFolders"
                    [class]="folderSelected == folder.name ? 'folder-selected' : '' "
                    (click)="changeFolder(folder.name)">
                    <div class="grid-container">
                        <mat-icon class="grid-item">{{folder.icon}}</mat-icon>
                        <span class="grid-item">{{folder.name}}</span>
                    </div>
                </button>

                <!-- <button mat-icon-button color="primary"(click)="createFolder()">
                    <mat-icon>create_new_folder</mat-icon>
                </button> -->
            </div>
        </mat-sidenav>


        <mat-sidenav-content>
            <div class="center-vertical" style="padding:10px;">
                <!-- Menu hide button -->
                <button mat-icon-button (click)="sidenav.toggle()"><mat-icon class="icon">menu</mat-icon></button>
                <!-- Selected folder name -->
                <span class="mat-h2">{{folderSelected}}</span>
                <!-- Sort dropdown menu -->
                <button mat-button [matMenuTriggerFor]="sort">Sort<mat-icon>keyboard_arrow_down</mat-icon>
                </button>
                <!-- refresh icon -->
                <button mat-icon-button color="primary"(click)="fetchMails()">
                    <mat-icon>refresh</mat-icon>
                </button>

                <!-- Sorting -->
                <mat-menu #sort="matMenu">
                    <button mat-menu-item *ngFor="let sortingMethod of sortingList" (click)="changeSortingMethod(sortingMethod)">
                        <mat-icon *ngIf="sortingMethod.selected">check</mat-icon>
                        {{sortingMethod.name}}
                    </button>
                </mat-menu>
            </div>
            
            <!-- mails -->
            <div class="mail-item" 
                *ngFor="let mail of mails"
                style="cursor:pointer;"
                (click)="mailClicked(mail.id)">

                <!-- Mail Receivers -->
                <div class="mat-body stop-overflow grid-item" *ngIf="mail.type == 'Sent'|| mail.type == 'Draft'; else sender">
                    <strong>To: </strong>
                    <span *ngFor="let receiver of mail.receivers">
                        {{receiver.mailAddresses}}
                        <ng-template [ngIf]="mail.receivers.length > 1">, </ng-template>
                    </span>
                </div>

                <!-- Mail Sender -->
                <ng-template #sender>
                    <div class="mat-body stop-overflow grid-item">
                        <strong>From: </strong>
                        {{mail.sender.name}} <br>
                        <i>{{mail.sender.mailAddresses}}</i>
                    </div>
                </ng-template>

                <!-- Mail Subject -->
                <span class="mat-body stop-overflow grid-item">
                    <strong>Subject: </strong>
                    <br>{{mail.subject}}
                </span>
                <p class="mat-body stop-overflow grid-item">{{mail.body}}</p>

                <!-- Mail Delete -->
                <button mat-icon-button (click)="removeMail(mail); $event.stopPropagation();" color="accent" class="grid-item">
                    <mat-icon color="warn">delete</mat-icon>
                </button>
            </div>

        </mat-sidenav-content>

    </mat-sidenav-container>
</div>

